html,
body {
  position: absolute; 
  height: 100%;
  width: 100%;
  font: 13px Gill Sans;
}

#title {
  width: 85%;
}

.content {
  max-width: 95%; 
  margin: auto;
}

.footer {
  position: absolute;
  width: 90%;
  bottom: 30px; 
}

.footer a {
  font: 13px Gill Sans;
  margin-left: 50px;
}

#name {
  margin-left: 0px; 
}

#sliders {
  width: 200px;
  height: 20px;
  padding: 30px 0px;
  float: left; 
}

#year-dropdown {
  height: 20px;
  width: 160px; 
  font: 13px Gill Sans;
  background: white; 
  border: 1px solid rgba(187, 187, 187, 1.0);
}

#type-dropdown {
  margin-top: 30px;
  height: 20px;
  width: 160px; 
  font: 13px Gill Sans;
  background: white; 
  border: 1px solid rgba(187, 187, 187, 1.0);
}

#map {
  width: 400px;
  height: 470px;
  padding: 50px 50px;
  float: left; 
  border: 1px solid #696969;
  border-radius: 1px; 
}

#hist {
  padding: 0px 10px;
  float: left; 
}

.info {
  padding: 6px 8px;
  font: 12px Gill Sans;
  background: white;
  background: rgba(255, 255, 255, 1.0);
  border:1px solid #696969;
  border-radius: 1px;
}

.info h4 {
  margin: 0 0 5px;
}

.text {
  font: 11px Gill Sans;
}

.leaflet-zoom-animated {
  pointer-events: all; 
}

.leaflet-interactive {
  opacity: 1.0;
}

.easy-button-button {
  opacity: 1.0; 
}

.row {
  display: flex;
  justify-content: space-between;
}

.legend .row i {
  float: left;
  background: #696969;
}

.legend .circle1 {
  position: relative;
  left: 1px;
  top: 2px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  }

.legend .circle2 {
  position: relative;
  left: 0px;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  }

.legend .circle3 {
  position: relative;
  left: -3px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.parameter-value {
  font: 10px Gill Sans;
}

a {
  color: #062635; 
}

